<h1>All Contacts</h1>


<a href="/contact/new">
    <button>Record New Contact</button>
</a>


{{#each allContacts}}

<a href="/contact/{{_id}}">
    <div>
        <span>{{type}}{{date}}{{toOfficial}}{{regarding}}</span>
    </div>
</a>

{{/each}}