<h1>We the People</h1>


<h2>All Contacts</h2>


<a href="/contact/new">
    <button>Record New Contact</button>
</a>


{{#each allContacts}}

<a href="/contact/{{_id}}">
    <div>
        <span>{{type}}{{date}}{{toOfficial}}{{regarding}}</span>
    </div>
</a>

{{/each}}

<div class=nav>
    <a href="/electedOfficial/">
        <button>Elected Officials</button>
    </a>
    <a href="/legislation/">
        <button>Legislation</button>
    </a>
    <a href="/contact/">
        <button>Contacts</button>
    </a>
</div>