<h1>Edit Contact</h1>

<form method="POST" action="/contact/{{contact._id}}?_method=PUT">

  <input type="text" value="{{contact.contactType}}" placeholder="contactType" name="contactType" />
  <input type="text" value="{{contact.date}}" placeholder="date" name="date" />
  <input type="text" value="{{contact.from}}" placeholder="from" name="from" />
  <input type="text" value="{{contact.to}}" placeholder="to" name="to" />
  <input type="text" value="{{contact.regarding}}" placeholder="regarding" name="regarding" />
  <input type="checkbox" name="recievedReply" value="false" {{#if <contact.recievedReply }}checked{{/if}} />
  <input type="checkbox" name="followUp" value="false" {{#if <contact.followUp }}checked{{/if}} />


  <input type="submit" value="Save" />
</form>