<h1>Update Elected Official</h1>

<form method="POST" action="/electedOfficial/{{electedOfficial._id}}?_method=PUT">

  <input type="text" value="{{electedOfficial.name}}" placeholder="name" name="name" />
  <input type="text" value="{{electedOfficial.title}}" placeholder="title" name="title" />
  <input type="text" value="{{electedOfficial.picture}}" placeholder="picture" name="picture" />
  <input type="text" value="{{electedOfficial.level}}" placeholder="level" name="level" />
  <input type="text" value="{{electedOfficial.body}}" placeholder="body" name="body" />
  <input type="text" value="{{electedOfficial.phone}}" placeholder="phone" name="phone" />
  <input type="text" value="{{electedOfficial.email}}" placeholder="email" name="email" />
  <input type="text" value="{{electedOfficial.webpage}}" placeholder="webpage" name="webpage" />

  <input type="submit" value="Save" />
</form>