<h1>We the People</h1>


<h2>{{electedOfficial.first}} {{electedOfficial.last}}</h2>
<h3>{{electedOfficial.body}} {{electedOfficial.state}}</h3>

<img src="{{electedOfficial.picture}}" width="200" />

<a href="{{electedOfficial.webpage}}">



    <form method="POST" action="/electedOfficial/{{electedOfficial._id}}?_method=DELETE">
        <input type="submit" value="Delete" />
    </form>