<h1>We the People</h1>

<h2>Edit Legislation</h2>

<img src="https://s16-us2.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fwashington-org.s3.amazonaws.com%2Fs3fs-public%2Fstyles%2Fgallery_thumbnail_portrait%2Fpublic%2Fjnuts_00_us-capitol-dome-at-sunset_yesmydccool.jpg%3Fitok%3DBa9xHxeN&sp=f14f751d43ffb8c756e1165e5ea8a8c1&anticache=703857" width="200" />

<form method="POST" action="/legislation/{{legislation._id}}?_method=PUT">

  <input type="text" value="{{legislation.title}}" placeholder="title" name="title" />
  <input type="text" value="{{legislation.billID}}" placeholder="billID" name="billID" />
  <input type="text" value="{{legislation.level}}" placeholder="level" name="level" />
  <input type="text" value="{{legislation.body}}" placeholder="body" name="body" />
  <input type="text" value="{{legislation.committee}}" placeholder="committee" name="committee" />
  <input type="text" value="{{legislation.subCommittee}}" placeholder="subcommittee" name="subCommittee" />
  <input type="text" value="{{legislation.legislationText}}" placeholder="legislationText" name="legislationText" />


  <input type="submit" value="Save" />
</form>