<h1>We the People</h1>

<img src="https://s16-us2.startpage.com/cgi-bin/serveimage?url=https%3A%2F%2Fwashington-org.s3.amazonaws.com%2Fs3fs-public%2Fstyles%2Fgallery_thumbnail_portrait%2Fpublic%2Fjnuts_00_us-capitol-dome-at-sunset_yesmydccool.jpg%3Fitok%3DBa9xHxeN&sp=f14f751d43ffb8c756e1165e5ea8a8c1&anticache=703857"
    width="200" />

<h2>{{legislation.title}}</h2>
<h5>billID: {{legislation.billID}}</h5>
<h5>level: {{legislation.level}}</h5>
<h5>body: {{legislation.body}}</h5>
<h5>committee: {{legislation.committee}}</h5>
<h5>Subcommittee: {{legislation.subCommittee}}</h5>
<h5>Text of legislation: {{legislation.legislationText}}</h5>

<a href="/legislation/edit/{{legislation._id}}">
    <button>Edit Legislation</button>
</a>

<form method="POST" action="/legislation/{{legislation._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>