<h1>We the People</h1>


<h2>{{legislation.title}}</h2>
<h5>billID: {{legislation.billID}}</h5>
<h5>level: {{legislation.level}}</h5>
<h5>body: {{legislation.body}}</h5>
<h5>committee: {{legislation.committee}}</h5>
<h5>Subcommittee: {{legislation.subCommittee}}</h5>
<h5>Text of legislation: {{legislation.legislationText}}</h5>

<a href="/legislation/edit/{{legislation._id}}">
    <button>Edit Legislation</button>
</a>

<form method="POST" action="/legislation/{{legislation._id}}?_method=DELETE">
    <input type="submit" value="Delete" />
</form>